.btn{
    background-color: var(--white);
    border: 1px solid var(--grayer);
    padding:var(--space);
    display:block;
    cursor: pointer;
    flex: 50%;
    color:var( --grayer);
    border-radius: 4px;
}

.app__header .btn:hover{
    opacity: 0.5;
    color:var(--black);
    transition: opacity 0.2s;
}

.app__menu .btn{
    background-color:transparent;
    flex:none;
    display:block;
    position:absolute;
    top: 0px;
    left: 0px;
    display: flex;
    color: var(--white);
}

.app__menu .btn:hover{
    background-color: var(--white);
    color:var( --grayer);
    transition: all 0.5s;
    opacity: 1;
}

.modal__close .btn:hover{
    background-color: var(--white);
    color:var( --grayer);
    transition: all 0.5s;
    opacity: 1;
}





