.btn{
    background-color: var(--white);
    border: 1px solid var(--grayer);
    padding:var(--space);
    display:block;
    cursor: pointer;
    flex: 50%;
    color:var( --grayer);
    border-radius: 4px;
}

.btn:hover{
    filter: var(--hover-filter);
}

.app__menu .btn{
    flex:none;
    height:40px;
    display:block;
    position:absolute;
    top:10px;
    right: 10px;;
  }