.todo{
    color: var(--white);
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    height:100vh;
}

.todo__buttons{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: black;
    width: calc(100vw - var(--space-xl));
}