.todo{
    color: var(--white);
    background-color: var(--gray);
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    height:100vh;
    max-width: 540px;
    margin: 0 auto;
    
}

.todo__buttons{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: black;
    width: calc(100% - var(--space-xl));
}