.uic-form-one{
    padding:var(--space-xxl);
    text-align: center;
    background-color: var(--black);
    height:100vh;
}

@media (min-width: 600px) {
    .uic-form-one{
    padding:2rem;
    height:100vh;
    }
}