*, *::before, *::after {
    box-sizing: border-box;
  }

body{
  margin:0px;
  padding:0px;
  min-height:320px;
  background: linear-gradient(
    rgba(0, 0, 0, 0), 
    rgba(0, 0, 0, 0.4)
  ),
  url(../../assets/img/me-sw.png);
  background-size:cover;
  background-position:top center;
  background-repeat: no-repeat;
  max-height:100vh;
}

.app{
  position:relative;
}

.app__header{
  position:fixed;
  /* padding:var(--space); */
}

.app__menu-btn{
  margin-top:var(--space);
  margin-left:var(--space);
  background-color: rgba(255, 255, 255, 0.4);
}

.app__menu{
  position:fixed;
  bottom:0px;
  left:0px;
  width: 100vw;
  height:0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
  display:block;
  opacity:0;
  overflow:hidden;
}

.app__menu--open{
  display:flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding-top:10%;
  height:100vh;
  transition: all 0.4s ease-out;
  opacity:1;
}

.app__menu-links{
  list-style: none;
  font-size: 2rem;
  display:flex;
  flex-direction: column;
}

.app__menu-link{
  padding:2rem;
  text-align: center;
}

.app__menu-link a{
  color:var(--font-color);
  text-decoration: none;
  padding:1.5rem;
  border-radius: 4px;
}

.app__menu-link a:hover{
  color:var(--bg-color);
  text-decoration: none;
  background-color: var(--font-color);
  transition: all 1.2s ease-out;
  transition: color 0.3s linear;
}
.app__main{
    height: calc(100vh);
    /* padding:var(--space-xl); */
}

.app__footer{
    height:2rem;
    text-align: center;
    font-size: 12px;
    padding:var(--space);
    display:none;
}   