*, *::before, *::after {
    box-sizing: border-box;
  }

  body{
    margin:0px;
    padding:0px;
    min-height:320px;
  }

.header{
    position:fixed;
   
    padding:var(--space);
}

.main{
    height: calc(100vh - 2rem);
    padding:var(--space-xl);
}

.footer{
    height:2rem;
    text-align: center;
    font-size: 8px;
    padding:var(--space);
}   