.list{
    height:60vh;
    width: calc(100% - var(--space-xl));
    padding:0px;
    list-style: none;

}

.list__item{
    padding: var(--space-xl);
    text-align: center;
}

.list__item:last-of-type {
   
}